<footer class="pt-5 pb-5 ">
    <div class="container">
        <div class="row">
            <div class="col-2 mr-80">
                <h5> Address</h5>
                <p>500 Terry Francois St.CA 94158  San Francisco, </p>
            </div>
            <div class="col-2 mr-80">
               <h5> Conatct</h5>
                <p>info@mysite.com,</p>
                <p> <a href="tel: 123-456-7890"> 123-456-7890</a></p>
            </div>
            <div class="col-2 mr-80">
                <h5> Hours</h5>
                <p>500 Terry Francois St.CA 94158  San Francisco, </p>
            </div>
            <div class="col-4">
                <form>
                  <h5> Mailing List</h5>
                    <div class="form-group"> 
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <button type="submit" class="w-100 text-white">Subscribe</button>
                  </form>
            </div>
        </div>
    </div>
</footer>
