footer {
    background: #000;
    color: #fff;
    .form-control, button{
        background: transparent;
        border-radius: 0;
        border: 2px solid #fff;
        padding: .375rem .75rem;
        &:focus{
            border-color: none;
            box-shadow: none;
        }
    }
}
.mr-80{
    margin-right: 63px;
}