<section class="top-header bg-dark text-white text-center p-2">
  <span>888 Broadway, New York, NY, 18813</span>
</section>
<!-- nav start ere -->
<nav class="navbar navbar-expand-sm text-dark justify-content-between">
  <!-- Brand/logo -->
  <div class="d-flex">
    <a class="navbar-brand" href="#">Logo</a>
  <!-- Links -->
  <!-- <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">What We Do</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Conatct Us</a>
    </li>
  </ul> -->
  
<button mat-button >Menu</button>

<button mat-button > About Us</button>

<button mat-button >What We Do</button>

<button mat-button > Product</button>

<button mat-button >Client Review </button>

<button mat-button >Conatct Us</button>

  </div>
  <!-- Social Link -->
  <ul  class="navbar-nav">
      <li class="nav-item">
          <a href="" class="nav-link" ><i class="fab fa-facebook-f"></i></a>
      </li>
      <li class="nav-item">
          <a href="" class="nav-link" ><i class="fab fa-instagram"></i></a>
      </li>
      <li class="nav-item">
          <a href="" class="nav-link" ><i class="fab fa-twitter"></i></a>
      </li>
      <li class="nav-item">
          <a href="" class="nav-link" ><i class="fab fa-dribbble"></i></a>
      </li>
  </ul>
</nav>
<!-- nav end here -->



  