<section class="container mt-5">
    <h2 class="text-center">Lorem Ipsum</h2>
    <hr>
    <div class="row mb-5">   
        <div class="col-5">
            <img src="../assets/images/delivery.png" alt="">
        </div>
        <div class="col-7">
            <h4>Convenient Delivery System</h4>
            <p>
            Lorem Ipsum is simply dummy text of the printing and 
            typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popular
            </p>
        </div>
    </div>
    <div class="row">   
        <div class="col-7">
            <h4>Convenient Delivery System</h4>
            <p>
            Lorem Ipsum is simply dummy text of the printing and 
            typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popular
            </p>
        </div>
        <div class="col-5">
            <img src="../assets/images/delivery.png" alt="">
        </div>
    </div>
</section>
