<section class="d-flex justify-content-center align-items-center" *ngFor="let slide of background " >
    <img src="{{ slide.img }}" alt="" width="100%" class="position-relative" >
    <div class=" position-absolute text-center container">
        <h2>{{title}}</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy
        </p>
    </div>
</section>
