<section class="mb-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">{{ title }}</h2>
`               <div class="row about-wrapper">
                    <div class="col-6 p-0" *ngFor="let slide of background ">
                        <img src="{{ slide.img }}" alt="" width="100%"class="position-relative" >
                    </div>
                    <div class="col-6 text-center d-flex justify-content-center align-items-center flex-column">
                    <h3 class="">{{ subtitle }}</h3>    
                    <p>Lorem Ipsum is simply dummy text of the printing and 
                       typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popular</p>
                       <button >Read More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
